.banner {
  background: @blue;
  color: @white;
  padding: 90px;
  width: 100%;
  margin-bottom: 60px;

  &__text {
    max-width: 300px;
  }

  p {
    font-size: 16px;
  }

  .btn {
    margin-top: 25px;
  }
}