.header {
  position: relative;

  &__top {
    background: @white;
    color: @gray;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;


    a {
      color: @gray;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__main {
    color: @white;
    background: @blue;

    &-wrap {
      display: flex;
      flex-direction: row;
      padding: 15px;
    }

    &-page {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 50;
      background: transparent;
    }
  }

  .logo {
    color: @white;
    max-width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      flex-shrink: 0;
      width: 115px;
      margin-right: 30px;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

}