.promo {

  display: flex;
  flex-direction: row;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;

    @media @view-tablet {
      flex-direction: row;
      text-align: left;
    }

    .topic {
      font-size: 36px;
      font-weight: 700;

      @media @view-tablet {
        margin-right: 20px;      }
    }
  }

  &__item {

    text-align: center;
    max-width: 200px;
    margin: 0 auto;

    @media @view-tablet {
      text-align: left;
      max-width: 100%;
      margin: auto;
    }

    &-number {
      color: @blue;
      font-size: 48px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
    }
  }
}