.btn {
  background: @yellow;
  color: @white;
  transition: color .2s ease-in-out, background .2s ease-in-out;
  font-size: 16px;
  padding: 15px 40px;
  border-radius: 0;

  &:hover {
    background: @yellow-bright;
    color: @white;
    text-decoration: none;
  }

  &--blue {
    background: @blue;

    &:hover {
      background: lighten(@blue, 10%);
    }
  }

  &--bordered {
    border: 1px solid @yellow;
    background: transparent;
    color: @yellow;

    &:hover {
      color: @white;
      background: @yellow;
    }
  }
}

